footer {
    font-size: .65em;
    display: flex;
    background-color: rgb(244, 244, 244);
    height: 233px;
}

.footer-nav {
    display: flex;
    margin-left: 10%;
}

.footer-sec {
    text-align: left;
    margin-top: 38px;
}

.footer-sec li {
display: block;
color: rgb(144, 144, 144);
padding: 3px;
}

.footer-sec #bold {
    color: black;
    font-size: 1em;
}

#help-header, #contact-info {
    margin-left: 5%;
}

#help-header {
    color: rgb(255,255,255);
    font-style: italic;
}

#contact-info {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: .5px;
    line-height: 20px;
}

#space {
    width: 310px;
}

.help-box {
    width: 321px;
    height: 126px;
    border-radius: 5px;
    background-color: rgb(162,175,192);
    margin-top: 38px;
}

.help-content {
    display: flex;
    flex-direction: row;
}

button {
    border-radius: 4px;
    border: 1px solid rgb(43, 137, 217);
    background-color: rgb(51, 161, 255);
    color: white;
    font-size: 1.7em;
    width: 105px;
    height: 38px;
    margin-left: 35%;
}

.attribution, .credit {
    position: absolute;
    bottom: -300px;
    width: 300px;
    color: rgb(144, 144, 144);
}

.credit {
    margin-left: 200px;
}