* {
  font-family: "ff-enzo-web", tahoma, sans-serif;
  margin: 0; }

ul.top {
  background-color: #fa6938;
  color: white;
  font-size: 13px; }

.top-bar :hover {
  background-color: blue;
  color: white; }

li {
  display: inline-block;
  padding: 14px;
  text-shadow: .25px .15px black; }

#shipping {
  border: transparent;
  border-radius: 4px;
  margin-left: 150px;
  font-size: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px; }

nav {
  display: flex;
  padding-left: 10%;
  padding-right: 10%; }

.logo {
  width: 128px;
  height: 117px;
  margin-left: 3%; }

.navbar {
  display: inline-flex;
  margin: auto 0;
  font-size: 1.5em; }

.middle-third {
  margin: 0 auto;
  text-align: center; }

#register, #sign-in {
  color: #9795b0;
  padding-right: 10px;
  padding-left: 0px; }

.right-third {
  display: block;
  width: 50%; }

.sign-bar ul {
  display: block;
  text-align: right;
  font-size: .7em; }

.sign-list {
  padding: 0; }

.cart-n-search {
  display: inline-flex; }

.cart {
  border: 1px solid lightgray;
  border-radius: 4px;
  display: flex;
  margin-right: 5px;
  margin-left: 132px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: .9em;
  width: 50%; }

input[type="text"] {
  width: 125px;
  height: 25px;
  padding-right: 0px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  font-family: "ff-enzo-web", tahoma, sans-serif;
  /* background-image: url(file:///Users/Joshua/Desktop/TIY/Weekend-project-1/sprite@2x.png);
  background-position: -25px,-75px; */ }

.cart-pic, .magnifier {
  background-image: url(file:///Users/Joshua/Desktop/TIY/Weekend-project-1/sprite@2x.png);
  background: no-repeat; }

.cart-pic {
  width: 10px;
  height: 10px;
  background-position: -50px -50px; }

.magnifier {
  margin-left: 25px;
  background-position: -25px -10px;
  height: 30px;
  width: 127px; }

.counter {
  font-size: .7em;
  text-align: center;
  color: white;
  margin: auto 0;
  padding: 1px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  width: 15px;
  height: 15px;
  background-color: #c8c8c8; }

.search {
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
  font-size: .8em;
  margin-left: 7px;
  border: 5px solid #f4f4f4;
  border-radius: 4px; }

.tie {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column; }

.tiepix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center; }

#style {
  width: 62%; }

#label {
  text-align: center; }

#dress-better {
  text-align: center;
  font-size: 3.5em;
  margin: 75px; }

footer {
  font-size: .65em;
  display: flex;
  background-color: #f4f4f4;
  height: 233px; }

.footer-nav {
  display: flex;
  margin-left: 10%; }

.footer-sec {
  text-align: left;
  margin-top: 38px; }

.footer-sec li {
  display: block;
  color: #909090;
  padding: 3px; }

.footer-sec #bold {
  color: black;
  font-size: 1em; }

#help-header, #contact-info {
  margin-left: 5%; }

#help-header {
  color: white;
  font-style: italic; }

#contact-info {
  display: flex;
  flex-direction: column;
  font-size: 1.5em; }

a {
  text-decoration: none;
  color: white;
  font-weight: .5px;
  line-height: 20px; }

#space {
  width: 310px; }

.help-box {
  width: 321px;
  height: 126px;
  border-radius: 5px;
  background-color: #a2afc0;
  margin-top: 38px; }

.help-content {
  display: flex;
  flex-direction: row; }

button {
  border-radius: 4px;
  border: 1px solid #2b89d9;
  background-color: #33a1ff;
  color: white;
  font-size: 1.7em;
  width: 105px;
  height: 38px;
  margin-left: 35%; }

.attribution, .credit {
  position: absolute;
  bottom: -300px;
  width: 300px;
  color: #909090; }

.credit {
  margin-left: 200px; }

/*# sourceMappingURL=master.css.map */
